In [10]:
import pandas as pd
import numpy as np

In [11]:
# create df
df = pd.read_csv("eur_pairs/BTC-EUR.csv", parse_dates=True)
df.index = df["Date"]
df.drop(["Date"],axis=1,inplace=True)

# add calculations
df["SMA50"] = df["Close"].rolling(50).mean()
df["SMA200"] = df["Close"].rolling(200).mean()
df["chg%"] = (df["Close"] / df["Close"].shift(1)) - 1

# abv 50 abv 200
abv50_abv200 = df[(df["Close"] > df["SMA50"]) & (df["Close"] > df["SMA200"])]
abv50 = df[df["Close"] > df["SMA50"]]

In [12]:
abv50

,Open,High,Low,Close,Adj Close,Volume,ema50,ema200,chg%
Date,,,,,,,,,
2019-11-06,8435.071289,8512.726563,8406.735352,8456.394531,8456.394531,2.089861e+10,7879.775234,NaN,0.002349
2019-11-07,8448.727539,8476.344727,8326.041016,8385.039063,8385.039063,2.053869e+10,7862.546289,NaN,-0.008438
2019-11-08,8383.054688,8415.056641,7963.823730,7990.455566,7990.455566,2.208230e+10,7836.495928,NaN,-0.047058
2019-11-09,7994.619629,8069.574219,7980.041992,7998.572754,7998.572754,1.595310e+10,7811.677715,NaN,0.001016
2019-11-10,7997.581055,8259.309570,7989.258789,8215.490234,8215.490234,1.867808e+10,7794.136680,NaN,0.027120
...,...,...,...,...,...,...,...,...,...
2021-03-24,46206.234375,48454.453125,44467.140625,44675.628906,44675.628906,5.973812e+10,42248.189883,NaN,-0.033628
2021-03-25,44635.406250,45187.792969,43093.261719,43907.328125,43907.328125,5.774565e+10,42503.947500,NaN,-0.017197
2021-03-26,43889.367188,46749.441406,43801.769531,46749.441406,46749.441406,4.803387e+10,42821.745234,NaN,0.064730
2021-03-27,46749.656250,47962.664063,45991.097656,47458.429688,47458.429688,4.007602e+10,43137.748867,NaN,0.015166
2021-03-28,47652.660156,47871.558594,47078.445313,47371.757813,47371.757813,4.317879e+10,43433.414570,NaN,-0.001826

In [9]:
df

,Open,High,Low,Close,Adj Close,Volume,ema50,ema200,chg%
Date,,,,,,,,,
2019-09-18,9253.401367,9316.917969,9240.340820,9246.486328,9246.486328,1.466026e+10,NaN,NaN,NaN
2019-09-19,9248.524414,9319.454102,8917.574219,9292.973633,9292.973633,1.804724e+10,NaN,NaN,0.005028
2019-09-20,9292.886719,9334.069336,9194.604492,9239.483398,9239.483398,1.337076e+10,NaN,NaN,-0.005756
2019-09-21,9241.304688,9245.341797,9075.292969,9092.541992,9092.541992,1.218296e+10,NaN,NaN,-0.015904
2019-09-22,9096.534180,9142.628906,9004.768555,9138.951172,9138.951172,1.197878e+10,NaN,NaN,0.005104
...,...,...,...,...,...,...,...,...,...
2021-03-24,46206.234375,48454.453125,44467.140625,44675.628906,44675.628906,5.973812e+10,42248.189883,NaN,-0.033628
2021-03-25,44635.406250,45187.792969,43093.261719,43907.328125,43907.328125,5.774565e+10,42503.947500,NaN,-0.017197
2021-03-26,43889.367188,46749.441406,43801.769531,46749.441406,46749.441406,4.803387e+10,42821.745234,NaN,0.064730
2021-03-27,46749.656250,47962.664063,45991.097656,47458.429688,47458.429688,4.007602e+10,43137.748867,NaN,0.015166
2021-03-28,47652.660156,47871.558594,47078.445313,47371.757813,47371.757813,4.317879e+10,43433.414570,NaN,-0.001826